#about-page{
	& .frame-round{
		float:right;
	margin:0px 40px;
		padding:20px;
  -webkit-shape-outside:circle();
  shape-outside:circle();
	}
	.frame{
		margin:20px auto;
	}
	& hr{
			border-top:1px solid grey;
		margin:20px auto;
	}
	& #prospects-hr{
		clear: left;
	}
	& h2{
		margin-left:-20px;
	}
	& h3{
		padding-left:0;
		font-family: arial;
		color:$cyan;
	}
}