#logo-bg {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/header-bg.png);
	background-size: cover;
	height: 300px;
	width: 100%;
	z-index: -10;
}

header {
	text-align: right;
	height: 190px;
	padding: 20px;
	&.row {
		margin-left: 0;
		margin-right: 0;
		padding:0;
		& #nav-div{
			padding:0;
		}
		& nav {
			display: flex;
			justify-content: space-around;
			background-color: $blue;
			& a {
			height:80px;
				padding-top:20px;
				color: $white;
				font-size: 40px;
				font-family: rationale;
				border-bottom: 1px solid transparent;
			}
			& a:hover {
				border-bottom: 1px solid $cyan;
				color: $cyan;
				text-shadow: 0 0 5px $cyan;
				transition: 350ms; //			animation: glow 1s ease infinite;
			}
		}
	}
	& #logo {
		height: 200px;
		width: 200px;
		margin-right: -50px;
		padding: 10px;
		float: left;
		z-index: 10;
	}
	& #circuits2 {
		& polyline,
		& circle {
			animation: glogo 2s ease infinite;
		}
	}
	& h1 {
		padding-top: 30px;
	}
	& a:hover,
	& a:focus,
	& a:active {
		text-decoration: none;
	}
}

.active {
	color: $cyan;
}

#social {
	display: flex;
	justify-content: flex-end;
	& i {
		font-size: 30px;
		padding-left: 20px;
		color: $white;
	}
	& i:hover {
		color: $cyan;
		transition: 200ms;
		transform-origin: center;
		transform: scale(1.1);
	}
}

/************************
	MEDIA QUERIES
*************************/

@media screen and (max-width:1200px) {
	#logo-bg {			
		height: 280px;
	}
	header {
		& h1 {
			padding-top: 20px;
		}
		& #logo {
			height: 180px;
			width: 180px;
		}
		& nav {
			margin: 0px;
		}
	}
}

@media screen and (max-width:960px) {
	#logo-bg {
		height: 250px
	}
	header {
		& h1 {
			font-size: 60px;
		}
		& #logo {
			height: 150px;
			width: 150px;
		}
	}
}

@media screen and (max-width:640px) {
	#logo-bg {
		height: 200px
	}
	header {
		& #logo {
			margin-left: -20px;
			margin-top: -10px;
		}
		& h1 {
			padding-top:0px;
			font-size: 40px;
		}
		& #logo {
			height: 80px;
			width: 80px;
		}
		& #nav-div {
			padding: 0;
		}
		&.row nav {
			& a {
				font-size: 30px;
			}
		}
	}
}
