header {
	height: 190px;
	padding: 20px;
	&.row {
		margin-left: 0;
		margin-right: 0;
	}
	& #logo {
		height: 250px;
		margin-right: -50px;
		padding: 10px;
		float: left;
	}
	& #circuits2 {
		& polyline,
		& circle {
			animation: glogo 2s ease infinite;
		}
	}
	& h1{
		padding-top:30px;
	}
	& a:hover,
	& a:focus,
	& a:active {
		text-decoration: none;
	}
	& nav {
		&.col-md-6 {
			display: flex;
			justify-content: space-around;
			margin-top: 50px;
			height: 50px;
		}
		& a {
			color: $white;
			font-size: 30px;
			font-family: rationale;
			border-bottom: 1px solid transparent;
		}
		& a:hover {
			border-bottom: 1px solid $cyan;
			color: $cyan;
			text-shadow: 0 0 5px $cyan;
			transition: 350ms;
//			animation: glow 1s ease infinite;
		}
	}
}

.active {
	color: $cyan;
}

#social {
	display: flex;
	justify-content: flex-end;
	padding-right: 140px;
	& i {
		font-size: 26px;
		padding-left: 20px;
	}
	& i:hover {
		color: $cyan;
		transition: 200ms;
	}
}