#splash-body {
	background:black;
	text-align: right;
	& .container{
		width:90%;
	}
}

#splash {
		padding-top: 100px;
	& h1 {
		color: $cyan;
		font-family: monterey, arial, "times new roman";
		font-size: 100px;
		font-weight: bold;
		padding-top: 100px;
	}
	& h2 {
		color: $white;
		font-size: 50px;
		font-family: arial;
		margin: 0 auto 20px;
		&.h6{
			font-size:20px;
			text-align: right;
		}
	}
	& a {
		background: transparent;
		color: $cyan;
		border: 1px solid $cyan;
		margin-top:20px;
		padding: 10px 20px;
		font-family: arial;
		font-size: 20px;
		text-decoration: none;
		animation: reveal 5s ease-out;
	}
	& a:hover {
		background: rgba(28, 186, 255, 0.2);
		transition: 200ms;
	}
	& img{
		width:auto;
		max-width: auto;
		height:auto;
		max-height: 80vh;
	}
}