/********************************************
    CSS RESET
*********************************************/
@import "cssReset";

/********************************************
    COLOURS VARIABLES
*********************************************/
@import "var";

/********************************************
    TEXT
*********************************************/
@import "text";

/********************************************
    HEADER/FOOTER
*********************************************/
@import "header";

/********************************************
    GENERAL
*********************************************/

body {
	background: linear-gradient(black,$blue);
	font-family: arial;
	color: $white;
}

#content {
	margin-top: 85px;
	height: 70vh;
}

/********************************************
    HOME
*********************************************/
@import "home";

/********************************************
    ANIMATIONS
*********************************************/
@import "anim";

/********************************************
    MEDIA QUERIES
*********************************************/
@import "media";