/********************************************
    CSS RESET
*********************************************/
@import "cssReset";

/********************************************
    COLOURS VARIABLES
*********************************************/
@import "var";

/********************************************
    TEXT
*********************************************/
@import "text";

/********************************************
    HEADER/FOOTER
*********************************************/
@import "header";

/********************************************
    GENERAL
*********************************************/

body {
	background: linear-gradient(black,$blue);
	font-family: arial;
	color: $white;
}

#content {
	margin-top: 70px;
	min-height: calc(100vh - 70px - 186px);
}



/********************************************
    SPLASH
*********************************************/
@import "splash";

/********************************************
    HOME
*********************************************/
@import "home";

/********************************************
    ABOUT
*********************************************/
@import "about";

/********************************************
    ANIMATIONS
*********************************************/
@import "anim";

/********************************************
    MEDIA QUERIES
*********************************************/
@import "media";