@font-face {
	font-family: monterey;
	src: url(../fonts/MontereyFLF.ttf);
}

h1 {
	color: #1CBAFF;
	font-family: monterey, arial, "times new roman";
	font-size: 100px;
	font-weight: bold;
}

h2 {
	color: #F9F9F9;
	font-size: 40px;
	padding-left: 150px;
	padding-top: 10px;
	font-family: arial;
}