/********************************************
    CSS RESET
*********************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************************************
    COLOURS VARIABLES
*********************************************/
/********************************************
    TEXT
*********************************************/
@font-face {
  font-family: monterey;
  src: url(../fonts/MontereyFLF.ttf);
}
h1,
.h1 {
  color: #1CBAFF;
  font-family: monterey, arial, "times new roman";
  font-size: 100px;
  font-weight: bold;
}

h2,
.h2 {
  color: #F9F9F9;
  font-size: 40px;
  padding: 20px 0px 10px;
  font-family: federant, arial;
}

h3,
.h3 {
  color: #F9F9F9;
  font-size: 40px;
  padding: 20px 0px 10px;
  font-family: federant, arial;
}

h4,
.h4 {
  color: #F9F9F9;
  font-family: federant;
  font-size: 35px;
  padding: 20px 0px 10px;
}

h5,
.h5 {
  font-size: 28px;
  font-family: federant;
  font-weight: bold;
  padding: 20px 0px 10px;
}

h6,
.h6 {
  padding-left: 0;
  font-family: arial;
  color: #1CBAFF;
  font-size: 20px;
  padding: 20px 0px 10px;
}

p {
  padding: 12px 10px;
  line-height: 1.2;
  font-size: 18px;
}

a {
  color: #1CBAFF;
}

ul {
  padding-left: 40px;
  list-style-type: circle;
  font-size: 18px;
}

/********************************************
    HEADER/FOOTER
*********************************************/
header {
  text-align: right;
  height: 190px;
  padding: 20px;
}
header.row {
  margin-left: 0;
  margin-right: 0;
}
header #logo {
  height: 250px;
  margin-right: -50px;
  padding: 10px;
  float: left;
}
header #circuits2 polyline, header #circuits2 circle {
  animation: glogo 2s ease infinite;
}
header h1 {
  padding-top: 30px;
}
header a:hover, header a:focus, header a:active {
  text-decoration: none;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  height: 50px;
}
header nav a {
  color: #F9F9F9;
  font-size: 30px;
  font-family: rationale;
  border-bottom: 1px solid transparent;
}
header nav a:hover {
  border-bottom: 1px solid #1CBAFF;
  color: #1CBAFF;
  text-shadow: 0 0 5px #1CBAFF;
  transition: 350ms;
}

.active {
  color: #1CBAFF;
}

#social {
  display: flex;
  justify-content: flex-end;
}
#social i {
  font-size: 30px;
  padding-left: 20px;
  color: #F9F9F9;
}
#social i:hover {
  color: #1CBAFF;
  transition: 200ms;
  transform-origin: center;
  transform: scale(1.1);
}

	/************************
	MEDIA QUERIES
*************************/
@media screen and (max-width: 1200px) {
  header h1 {
    font-size: 70px;
    padding-top: 20px;
  }
  header #logo {
    height: 200px;
  }
  header nav {
    margin-top: 0px;
  }
}
@media screen and (max-width: 960px) {
  header h1 {
    font-size: 60px;
  }
  header #logo {
    height: 180px;
  }
}
@media screen and (max-width: 640px) {
  header h1 {
    font-size: 40px;
  }
  header #logo {
    height: 160px;
  }
}
/********************************************
    GENERAL
*********************************************/
body {
  background: linear-gradient(black, #000038);
  font-family: arial;
  color: #F9F9F9;
}

#content {
  margin-top: 70px;
  min-height: calc(100vh/*viewport*/ - 70px/*margin-top*/ - 190px/*header*/ );
}

img {
  width: 100%;
  height: 100%;
}

/********************************************
    SPLASH
*********************************************/
#splash-body {
  background: black;
  text-align: right;
}
#splash-body .container {
  width: 90%;
}

#splash {
  padding-top: 100px;
}
#splash h1 {
  color: #1CBAFF;
  font-family: monterey, arial, "times new roman";
  font-size: 100px;
  font-weight: bold;
  padding-top: 100px;
}
#splash h2 {
  color: #F9F9F9;
  font-size: 50px;
  font-family: arial;
  margin: 0 auto 20px;
}
#splash h2.h6 {
  font-size: 20px;
  text-align: right;
}
#splash a {
  background: transparent;
  color: #1CBAFF;
  border: 1px solid #1CBAFF;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
  animation: reveal 5s ease-out;
  z-index: 10;
}
#splash a:hover {
  background: rgba(28, 186, 255, 0.2);
  transition: 200ms;
}
#splash img {
  width: auto;
  max-width: auto;
  height: auto;
  max-height: 80vh;
}

/************************
	MEDIA QUERIES
*************************/
@media screen and (max-width: 1200px) {
  #splash h1 {
    font-size: 80px;
  }
  #splash h2 {
    font-size: 40px;
  }
  #splash img {
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  #splash h2 {
    font-size: 30px;
  }
  #splash img {
    position: fixed;
    left: 12%;
    top: 10%;
    width: 80%;
    height: auto;
    opacity: 0.15;
    z-index: -10;
  }
}
/********************************************
    HOME
*********************************************/
#home-content {
  margin-top: 180px;
  min-height: calc(100vh/*viewport*/ - 180px/*margin-top*/ - 190px/*header*/ );
}

.home-texts {
  text-align: right;
  font-size: 40px;
  font-style: italic;
  font-family: federant;
  line-height: 2.4;
}

#home-text1 {
  animation: slideIn 2s ease-out;
}

#home-text2 {
  margin-right: 60px;
  animation: slideIn 4s ease-out;
}

#home-text3 {
  margin-right: -100px;
  animation: slideIn 6s ease-out;
}

#screens img {
  height: 300px;
  width: auto;
}
#screens #screen1 {
  position: absolute;
  top: 0;
  animation: slideIn2 2s ease;
}
#screens #screen2 {
  position: absolute;
  top: 100px;
  left: 250px;
  height: 220px;
  animation: slideIn2 4s ease;
}
#screens #screen3 {
  position: absolute;
  top: 250px;
  left: 210px;
  height: 120px;
  animation: slideIn2 6s ease;
}

/********************************************
    ABOUT
*********************************************/
#about-page .frame-round {
  float: right;
  margin: 0px 40px;
  padding: 20px;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}
#about-page .frame {
  margin: 20px auto;
}
#about-page hr {
  border-top: 1px solid grey;
  margin: 20px auto;
}
#about-page #prospects-hr {
  clear: left;
}
#about-page h2 {
  margin-left: -20px;
}
#about-page h3 {
  padding-left: 0;
  font-family: arial;
  color: #1CBAFF;
}

/********************************************
    WORK
*********************************************/
.overlay-bg {
  background-color: rgba(0, 2, 28, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
}
.overlay-bg .overlay-info {
  position: relative;
  height: 80%;
  margin-top: 5%;
  padding-top: 100px;
  background-color: #030303;
}
.overlay-bg .overlay-info .h4 {
  color: #1CBAFF;
}
.overlay-bg .overlay-info .scrolls {
  position: absolute;
  bottom: 100px;
  left: 80px;
  font-size: 40px;
}
.overlay-bg .overlay-info img {
  height: auto;
}
.overlay-bg .overlay-info .psd-covers {
  position: relative;
  margin-top: -100px;
  width: 100%;
  height: auto;
}
.overlay-bg .overlay-info .screen-monitor {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 100px;
  width: 700px;
}
.overlay-bg .overlay-info .screen-tablet {
  position: absolute;
  z-index: 10;
  top: 200px;
  left: 0px;
  width: 300px;
}
.overlay-bg .overlay-info .screen-mobile {
  position: absolute;
  z-index: 15;
  top: 270px;
  left: 610px;
  width: 200px;
}
.overlay-bg .overlay-info .close-overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #F9F9F9;
  font-size: 24px;
  cursor: pointer;
}

.pdf {
  font-size: 20px;
  text-align: right;
  padding-right: 5%;
}

section {
  margin-top: 5%;
  background-color: transparent;
}
section h3 {
  padding-left: 20px;
  background: #030303;
  height: 200px;
  margin-bottom: -130px;
}
section .work {
  display: flex;
  margin-bottom: 100px;
  z-index: -100;
}
section .work .thumbs {
  position: relative;
  width: 24%;
  margin: 0 1%;
  overflow: hidden;
  box-shadow: 0 4px 10px black;
  animation: slideIn 1s ease;
}
section .work .thumbs img {
  height: 100%;
  width: 100%;
}
section .work .thumbs a {
  color: #F9F9F9;
}
section .work .thumbs .thumb-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  cursor: pointer;
}
section .work .thumbs .thumb-overlay p {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
section .work .thumbs:hover img {
  transform: scale(1.2);
  transition: 300ms;
}
section .work .thumbs:hover .thumb-overlay {
  opacity: 1;
}

#details-page {
  min-height: 100vh;
  min-width: 100%;
  background-color: white;
}
#details-page .full-size {
  width: 1500px;
  height: auto;
  margin: 0 auto;
}

/********************************************
    WORK
*********************************************/
#contact-page {
  background: #030303;
  position: absolute;
  top: 350px;
  width: 100%;
  padding: 50px;
}
#contact-page hr {
  border: 1px solid grey;
}
#contact-page .deets:first-child {
  height: auto;
}
#contact-page .deets {
  width: 60%;
  margin: 0 auto;
  height: 40px;
}
#contact-page .deets h5 {
  padding: 0;
}
#contact-page .deets#deets-phone-mobile {
  display: none;
}
#contact-page i {
  float: left;
  font-size: 30px;
  width: 50px;
  text-align: center;
}
#contact-page p {
  line-height: 0.8;
}

form {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background: black;
  border-radius: 10px;
}
form label, form input, form textarea {
  width: 40%;
  margin-top: 10px;
  margin-right: 2%;
}
form #subject {
  margin-top: -100px;
}
form input:focus, form textarea:focus {
  box-shadow: 0 0 10px #1CBAFF;
}
form textarea::placeholder {
  color: #9b9b9b;
}
form button {
  background-color: transparent;
  color: #1CBAFF;
  margin-top: 10px;
  padding: 10px;
  border-color: #1CBAFF;
}
form button:hover {
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.14);
  transition: 300ms;
}

	/************************
	MEDIA QUERIES
*************************/
/********************************************
    ANIMATIONS
*********************************************/
@keyframes reveal {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glow {
  0% {
    text-shadow: 0px 0px 0px #1CBAFF;
  }
  50% {
    text-shadow: 0px 0px 20px #1CBAFF;
  }
  100% {
    text-shadow: 0px 0px 0px #1CBAFF;
  }
}
@keyframes glogo {
  50% {
    stroke: #1CBAFF;
    stroke-width: 20px;
    box-shadow: 0 0 10px 50px white;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn2 {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
